<!-- Footer -->
            <div class="row footer">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-3">
                      <h4>Recent Posts</h4>
                        <ul>
                        {% for post in site.posts limit:4 %}
                          <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                      <h4>Über uns</h4>
                      <ul>
                      	<li><p>Pascal</p></li>
					  	<li><p>Samuel</p></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                    
                      <h4>Follow Us Here</h4>
                
                      
                      </div>
                  </div>
              </div>
              <div class="col-md-1"></div>
            </div>
          <!-- End Footer -->
