svg{
    //width: 100vw;
    //height: 100vh;
    //overflow: scroll;
    min-height: 120px;
    height: 13vh;
    width: auto;
}

//#BigWingMask{
//  fill: #373A3C;
//}
    
// Style for social icons





  .feature-icons-container {
    display: flex;
  }
  
  .feature-icon img {
    width: 75px;
    height: 75px;
    padding: 12px;
    padding-bottom: 4px;
    margin: 5px 7px;
    transition: transform .65s ease;
  }
  
  a.feature-icon:hover img {
    transform: translateY(-12px);
    transition: transform .225s ease;
  }
  
  .feature-icon figcaption {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: black;
  }
  

  
