

.logo-img > img {
  overflow: hidden;
  margin-top: 21px;
  width: 100%;
  height: auto;
}

.logo-img > a {

  margin-top: 21px;
  width: 100%;
  height: auto;
}

.vorstand{
  margin-bottom: 1cm;
  margin-top: 1cm;
}
